In [1]:
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import Dataset, DataLoader
from sklearn.model_selection import train_test_split

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("./iris.csv")
dataset.columns = [
    "Id",
    "sepal length (cm)", 
    "sepal width (cm)", 
    "petal length (cm)", 
    "petal width (cm)", 
    "species"]

In [3]:
dataset.head()

,Id,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa

In [5]:
# Transform the species to numeric values:

In [4]:
mappings = {
   "Iris-setosa": 0,
   "Iris-versicolor": 1,
   "Iris-virginica": 2
}

In [5]:
dataset["species"] = dataset["species"].apply(lambda x: mappings[x])

In [7]:
dataset.head()

,Id,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,1,5.1,3.5,1.4,0.2,0
1,2,4.9,3.0,1.4,0.2,0
2,3,4.7,3.2,1.3,0.2,0
3,4,4.6,3.1,1.5,0.2,0
4,5,5.0,3.6,1.4,0.2,0

In [11]:
# The below two lines will separate the species (true label) and rest of the columns
X = dataset.drop("species",axis=1).values
y = dataset["species"].values

print(X)
print(y)

[[1.00e+00 5.10e+00 3.50e+00 1.40e+00 2.00e-01]
 [2.00e+00 4.90e+00 3.00e+00 1.40e+00 2.00e-01]
 [3.00e+00 4.70e+00 3.20e+00 1.30e+00 2.00e-01]
 [4.00e+00 4.60e+00 3.10e+00 1.50e+00 2.00e-01]
 [5.00e+00 5.00e+00 3.60e+00 1.40e+00 2.00e-01]
 [6.00e+00 5.40e+00 3.90e+00 1.70e+00 4.00e-01]
 [7.00e+00 4.60e+00 3.40e+00 1.40e+00 3.00e-01]
 [8.00e+00 5.00e+00 3.40e+00 1.50e+00 2.00e-01]
 [9.00e+00 4.40e+00 2.90e+00 1.40e+00 2.00e-01]
 [1.00e+01 4.90e+00 3.10e+00 1.50e+00 1.00e-01]
 [1.10e+01 5.40e+00 3.70e+00 1.50e+00 2.00e-01]
 [1.20e+01 4.80e+00 3.40e+00 1.60e+00 2.00e-01]
 [1.30e+01 4.80e+00 3.00e+00 1.40e+00 1.00e-01]
 [1.40e+01 4.30e+00 3.00e+00 1.10e+00 1.00e-01]
 [1.50e+01 5.80e+00 4.00e+00 1.20e+00 2.00e-01]
 [1.60e+01 5.70e+00 4.40e+00 1.50e+00 4.00e-01]
 [1.70e+01 5.40e+00 3.90e+00 1.30e+00 4.00e-01]
 [1.80e+01 5.10e+00 3.50e+00 1.40e+00 3.00e-01]
 [1.90e+01 5.70e+00 3.80e+00 1.70e+00 3.00e-01]
 [2.00e+01 5.10e+00 3.80e+00 1.50e+00 3.00e-01]
 [2.10e+01 5.40e+00 3.40e+00 1.70e+00 2.00e-01]
 [2.20e+01 5.10e+00 3.70e+00 1.50e+00 4.00e-01]
 [2.30e+01 4.60e+00 3.60e+00 1.00e+00 2.00e-01]
 [2.40e+01 5.10e+00 3.30e+00 1.70e+00 5.00e-01]
 [2.50e+01 4.80e+00 3.40e+00 1.90e+00 2.00e-01]
 [2.60e+01 5.00e+00 3.00e+00 1.60e+00 2.00e-01]
 [2.70e+01 5.00e+00 3.40e+00 1.60e+00 4.00e-01]
 [2.80e+01 5.20e+00 3.50e+00 1.50e+00 2.00e-01]
 [2.90e+01 5.20e+00 3.40e+00 1.40e+00 2.00e-01]
 [3.00e+01 4.70e+00 3.20e+00 1.60e+00 2.00e-01]
 [3.10e+01 4.80e+00 3.10e+00 1.60e+00 2.00e-01]
 [3.20e+01 5.40e+00 3.40e+00 1.50e+00 4.00e-01]
 [3.30e+01 5.20e+00 4.10e+00 1.50e+00 1.00e-01]
 [3.40e+01 5.50e+00 4.20e+00 1.40e+00 2.00e-01]
 [3.50e+01 4.90e+00 3.10e+00 1.50e+00 1.00e-01]
 [3.60e+01 5.00e+00 3.20e+00 1.20e+00 2.00e-01]
 [3.70e+01 5.50e+00 3.50e+00 1.30e+00 2.00e-01]
 [3.80e+01 4.90e+00 3.10e+00 1.50e+00 1.00e-01]
 [3.90e+01 4.40e+00 3.00e+00 1.30e+00 2.00e-01]
 [4.00e+01 5.10e+00 3.40e+00 1.50e+00 2.00e-01]
 [4.10e+01 5.00e+00 3.50e+00 1.30e+00 3.00e-01]
 [4.20e+01 4.50e+00 2.30e+00 1.30e+00 3.00e-01]
 [4.30e+01 4.40e+00 3.20e+00 1.30e+00 2.00e-01]
 [4.40e+01 5.00e+00 3.50e+00 1.60e+00 6.00e-01]
 [4.50e+01 5.10e+00 3.80e+00 1.90e+00 4.00e-01]
 [4.60e+01 4.80e+00 3.00e+00 1.40e+00 3.00e-01]
 [4.70e+01 5.10e+00 3.80e+00 1.60e+00 2.00e-01]
 [4.80e+01 4.60e+00 3.20e+00 1.40e+00 2.00e-01]
 [4.90e+01 5.30e+00 3.70e+00 1.50e+00 2.00e-01]
 [5.00e+01 5.00e+00 3.30e+00 1.40e+00 2.00e-01]
 [5.10e+01 7.00e+00 3.20e+00 4.70e+00 1.40e+00]
 [5.20e+01 6.40e+00 3.20e+00 4.50e+00 1.50e+00]
 [5.30e+01 6.90e+00 3.10e+00 4.90e+00 1.50e+00]
 [5.40e+01 5.50e+00 2.30e+00 4.00e+00 1.30e+00]
 [5.50e+01 6.50e+00 2.80e+00 4.60e+00 1.50e+00]
 [5.60e+01 5.70e+00 2.80e+00 4.50e+00 1.30e+00]
 [5.70e+01 6.30e+00 3.30e+00 4.70e+00 1.60e+00]
 [5.80e+01 4.90e+00 2.40e+00 3.30e+00 1.00e+00]
 [5.90e+01 6.60e+00 2.90e+00 4.60e+00 1.30e+00]
 [6.00e+01 5.20e+00 2.70e+00 3.90e+00 1.40e+00]
 [6.10e+01 5.00e+00 2.00e+00 3.50e+00 1.00e+00]
 [6.20e+01 5.90e+00 3.00e+00 4.20e+00 1.50e+00]
 [6.30e+01 6.00e+00 2.20e+00 4.00e+00 1.00e+00]
 [6.40e+01 6.10e+00 2.90e+00 4.70e+00 1.40e+00]
 [6.50e+01 5.60e+00 2.90e+00 3.60e+00 1.30e+00]
 [6.60e+01 6.70e+00 3.10e+00 4.40e+00 1.40e+00]
 [6.70e+01 5.60e+00 3.00e+00 4.50e+00 1.50e+00]
 [6.80e+01 5.80e+00 2.70e+00 4.10e+00 1.00e+00]
 [6.90e+01 6.20e+00 2.20e+00 4.50e+00 1.50e+00]
 [7.00e+01 5.60e+00 2.50e+00 3.90e+00 1.10e+00]
 [7.10e+01 5.90e+00 3.20e+00 4.80e+00 1.80e+00]
 [7.20e+01 6.10e+00 2.80e+00 4.00e+00 1.30e+00]
 [7.30e+01 6.30e+00 2.50e+00 4.90e+00 1.50e+00]
 [7.40e+01 6.10e+00 2.80e+00 4.70e+00 1.20e+00]
 [7.50e+01 6.40e+00 2.90e+00 4.30e+00 1.30e+00]
 [7.60e+01 6.60e+00 3.00e+00 4.40e+00 1.40e+00]
 [7.70e+01 6.80e+00 2.80e+00 4.80e+00 1.40e+00]
 [7.80e+01 6.70e+00 3.00e+00 5.00e+00 1.70e+00]
 [7.90e+01 6.00e+00 2.90e+00 4.50e+00 1.50e+00]
 [8.00e+01 5.70e+00 2.60e+00 3.50e+00 1.00e+00]
 [8.10e+01 5.50e+00 2.40e+00 3.80e+00 1.10e+00]
 [8.20e+01 5.50e+00 2.40e+00 3.70e+00 1.00e+00]
 [8.30e+01 5.80e+00 2.70e+00 3.90e+00 1.20e+00]
 [8.40e+01 6.00e+00 2.70e+00 5.10e+00 1.60e+00]
 [8.50e+01 5.40e+00 3.00e+00 4.50e+00 1.50e+00]
 [8.60e+01 6.00e+00 3.40e+00 4.50e+00 1.60e+00]
 [8.70e+01 6.70e+00 3.10e+00 4.70e+00 1.50e+00]
 [8.80e+01 6.30e+00 2.30e+00 4.40e+00 1.30e+00]
 [8.90e+01 5.60e+00 3.00e+00 4.10e+00 1.30e+00]
 [9.00e+01 5.50e+00 2.50e+00 4.00e+00 1.30e+00]
 [9.10e+01 5.50e+00 2.60e+00 4.40e+00 1.20e+00]
 [9.20e+01 6.10e+00 3.00e+00 4.60e+00 1.40e+00]
 [9.30e+01 5.80e+00 2.60e+00 4.00e+00 1.20e+00]
 [9.40e+01 5.00e+00 2.30e+00 3.30e+00 1.00e+00]
 [9.50e+01 5.60e+00 2.70e+00 4.20e+00 1.30e+00]
 [9.60e+01 5.70e+00 3.00e+00 4.20e+00 1.20e+00]
 [9.70e+01 5.70e+00 2.90e+00 4.20e+00 1.30e+00]
 [9.80e+01 6.20e+00 2.90e+00 4.30e+00 1.30e+00]
 [9.90e+01 5.10e+00 2.50e+00 3.00e+00 1.10e+00]
 [1.00e+02 5.70e+00 2.80e+00 4.10e+00 1.30e+00]
 [1.01e+02 6.30e+00 3.30e+00 6.00e+00 2.50e+00]
 [1.02e+02 5.80e+00 2.70e+00 5.10e+00 1.90e+00]
 [1.03e+02 7.10e+00 3.00e+00 5.90e+00 2.10e+00]
 [1.04e+02 6.30e+00 2.90e+00 5.60e+00 1.80e+00]
 [1.05e+02 6.50e+00 3.00e+00 5.80e+00 2.20e+00]
 [1.06e+02 7.60e+00 3.00e+00 6.60e+00 2.10e+00]
 [1.07e+02 4.90e+00 2.50e+00 4.50e+00 1.70e+00]
 [1.08e+02 7.30e+00 2.90e+00 6.30e+00 1.80e+00]
 [1.09e+02 6.70e+00 2.50e+00 5.80e+00 1.80e+00]
 [1.10e+02 7.20e+00 3.60e+00 6.10e+00 2.50e+00]
 [1.11e+02 6.50e+00 3.20e+00 5.10e+00 2.00e+00]
 [1.12e+02 6.40e+00 2.70e+00 5.30e+00 1.90e+00]
 [1.13e+02 6.80e+00 3.00e+00 5.50e+00 2.10e+00]
 [1.14e+02 5.70e+00 2.50e+00 5.00e+00 2.00e+00]
 [1.15e+02 5.80e+00 2.80e+00 5.10e+00 2.40e+00]
 [1.16e+02 6.40e+00 3.20e+00 5.30e+00 2.30e+00]
 [1.17e+02 6.50e+00 3.00e+00 5.50e+00 1.80e+00]
 [1.18e+02 7.70e+00 3.80e+00 6.70e+00 2.20e+00]
 [1.19e+02 7.70e+00 2.60e+00 6.90e+00 2.30e+00]
 [1.20e+02 6.00e+00 2.20e+00 5.00e+00 1.50e+00]
 [1.21e+02 6.90e+00 3.20e+00 5.70e+00 2.30e+00]
 [1.22e+02 5.60e+00 2.80e+00 4.90e+00 2.00e+00]
 [1.23e+02 7.70e+00 2.80e+00 6.70e+00 2.00e+00]
 [1.24e+02 6.30e+00 2.70e+00 4.90e+00 1.80e+00]
 [1.25e+02 6.70e+00 3.30e+00 5.70e+00 2.10e+00]
 [1.26e+02 7.20e+00 3.20e+00 6.00e+00 1.80e+00]
 [1.27e+02 6.20e+00 2.80e+00 4.80e+00 1.80e+00]
 [1.28e+02 6.10e+00 3.00e+00 4.90e+00 1.80e+00]
 [1.29e+02 6.40e+00 2.80e+00 5.60e+00 2.10e+00]
 [1.30e+02 7.20e+00 3.00e+00 5.80e+00 1.60e+00]
 [1.31e+02 7.40e+00 2.80e+00 6.10e+00 1.90e+00]
 [1.32e+02 7.90e+00 3.80e+00 6.40e+00 2.00e+00]
 [1.33e+02 6.40e+00 2.80e+00 5.60e+00 2.20e+00]
 [1.34e+02 6.30e+00 2.80e+00 5.10e+00 1.50e+00]
 [1.35e+02 6.10e+00 2.60e+00 5.60e+00 1.40e+00]
 [1.36e+02 7.70e+00 3.00e+00 6.10e+00 2.30e+00]
 [1.37e+02 6.30e+00 3.40e+00 5.60e+00 2.40e+00]
 [1.38e+02 6.40e+00 3.10e+00 5.50e+00 1.80e+00]
 [1.39e+02 6.00e+00 3.00e+00 4.80e+00 1.80e+00]
 [1.40e+02 6.90e+00 3.10e+00 5.40e+00 2.10e+00]
 [1.41e+02 6.70e+00 3.10e+00 5.60e+00 2.40e+00]
 [1.42e+02 6.90e+00 3.10e+00 5.10e+00 2.30e+00]
 [1.43e+02 5.80e+00 2.70e+00 5.10e+00 1.90e+00]
 [1.44e+02 6.80e+00 3.20e+00 5.90e+00 2.30e+00]
 [1.45e+02 6.70e+00 3.30e+00 5.70e+00 2.50e+00]
 [1.46e+02 6.70e+00 3.00e+00 5.20e+00 2.30e+00]
 [1.47e+02 6.30e+00 2.50e+00 5.00e+00 1.90e+00]
 [1.48e+02 6.50e+00 3.00e+00 5.20e+00 2.00e+00]
 [1.49e+02 6.20e+00 3.40e+00 5.40e+00 2.30e+00]
 [1.50e+02 5.90e+00 3.00e+00 5.10e+00 1.80e+00]]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [14]:
# This shuffles the contents.
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20)

In [15]:
X_train = torch.FloatTensor(X_train)
X_test = torch.FloatTensor(X_test)
y_train = torch.LongTensor(y_train)
y_test = torch.LongTensor(y_test)